<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">I'm currently a first year Bachelor's Astronomy student at University of Groninge, originally from Kraków, Poland</p>
                <a href="#resume" class="btn btn-default btn-xl">Learn more</a>
            </div>
        </div>
    </div>
</section>
