<section class="no-padding" id="portfolio">
<div class="container-fluid">
            
<h2 class="h2 article-title">Projects</h2>        
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Get MAGIC Mentoring program
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Mentoring for my personal project- data analysis in Python, creating and sourcing data of binary stars/pulsars using Lightkurve library for Python, focusing on Kepler 47 system, developing my personal website
Binary stars are stellar systems consisting of two stars that orbit around a common center of mass due to their gravitational attraction. They are quite common in the universe, comprising a significant fraction of all observed stellar systems. These pairs of stars can exhibit a wide range of characteristics, including different sizes, masses, and distances between the two stars.
Kepler-47 is a notable binary star system located approximately 4,900 light-years away in the constellation Cygnus. It consists of two stars: a larger, brighter star classified as a G-type main-sequence star, similar to our Sun, and a smaller companion star categorized as an M-dwarf. What makes Kepler-47 particularly intriguing is the presence of at least two confirmed exoplanets orbiting around the binary pair. These exoplanets were discovered by NASA's Kepler mission, highlighting the system's significance in our quest to understand planetary systems beyond our own.
            <ol>
                        <li> The raw light curve displays the brightness of the Kepler-47 system over time.
Variations in brightness indicate potential events such as exoplanetary transits or stellar activity. </li>
                         <img src="img/Raw_1.png" class="img-responsive" alt="">
                        <li> The periodogram illustrates the strength of periodic signals in the data, helping identify potential exoplanetary orbital periods.
Peaks in the periodogram correspond to potential orbital periods of exoplanets within the system.</li>
                        <img src="img/Periodogram2.png" class="img-responsive" alt="">
                        <li> The folded light curve aligns data points based on the detected orbital period, revealing periodic patterns.
Dips in brightness at regular intervals indicate the occurrence of exoplanetary transits.</li>
                        <img src="img/Folded_lc_3.png" class="img-responsive" alt="">
                        <img src="img/Dolded_lc_8.png" class="img-responsive" alt="">
                        <img src="img/Folded_scatter_6.png" class="img-responsive" alt="">
                        <li> The binned light curve groups data points to reduce noise and highlight trends.
Smoothing out fluctuations in brightness improves clarity, aiding in the identification of transit signals.</li>
                        <img src="img/Binned_lc_7.png" class="img-responsive" alt="">
                        <li> The detrended light curve removes long-term trends, enabling clearer identification of transit signals.
Isolating short-term variations helps distinguish genuine transit events from instrumental or stellar noise.</li>
                        <img src="img/Detrended_5.png" class="img-responsive" alt="">
                        <li> The transit model overlay represents the expected brightness variation during an exoplanetary transit.
Comparing the model with observed data confirms the presence of exoplanets and allows estimation of their properties, such as size and orbital characteristics.</li>
                        <img src="Transit_model_9.png" class="img-responsive" alt="">
            </ol>  
analysis of the Kepler-47 system has provided valuable insights into the characteristics of this binary star system and its orbiting exoplanets. Through the examination of raw light curves, periodograms, folded light curves, and detrended data, we have identified compelling evidence of exoplanetary transits and validated the presence of orbiting planets. 
              
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Conference poster
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
         'First determination of the system parameters in five contact binaries', B. Debski, M. Jacak, L. Kulczycka, J. Pęgiel, W. Skrobacz; 'Observing techniques, instrumentation and science for metre-class telescopes III Conference’
        Put in image.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Post-conference paper
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Contributions of the Astronomical Observatory Skalnaté Pleso, vol. 54, no. 2, p. 164-166,
DOI: <a href = "https://doi.org/10.31577/caosp.2024.54.2.164"> DOI </a>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<!-- <section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="projects/project1.html" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Conference poster: 'First determination of the system parameters in five contact binaries', B. Debski, M. Jacak, L. Kulczycka, J. Pęgiel, W. Skrobacz, 'Observing techniques, instrumentation and science for metre-class telescopes III Conference’
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="projects/project2.html" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Post-conference paper: Contributions of the Astronomical Observatory Skalnaté Pleso, vol. 54, no. 2, p. 164-166, 
DOI: https://doi.org/10.31577/caosp.2024.54.2.164
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
 -->
