<!--
      - #RESUME
    -->

<section class="no-padding" id="resume">
      <div class="container">   
            
      <h2 class="h2 article-title">Resume</h2>
            
      <section class="timeline">

     <div class="title-wrapper">     
     <div class="icon-box">
          <ion-icon name="book-outline"></ion-icon>
          <h3 class="h3">Education</h3>
      </div>

        <ol class="timeline-list">

          <li class="timeline-item">

            <h4 class="h4 timeline-item-title">Bartłomiej Nowodworski High School </h4>

            <span>2020-2022</span>

            <p class="timeline-text">
              Advanced level subjects: Mathematics, Geography, English
            </p>

          </li>

          <li class="timeline-item">

            <h4 class="h4 timeline-item-title">Liceum w Chmurze</h4>

            <span>2022-2024</span>

            <p class="timeline-text">
              Advanced level subjects: Mathematics, Physics, Geography
            Final expected average: 5.47/6.0
            </p>

          </li>

          <li class="timeline-item">

            <h4 class="h4 timeline-item-title">University of Groningen</h4>

            <span>2024 (expected start date)</span>

            <p class="timeline-text">
              Full time Bachelor in Astronomy
            </p>

          </li>

        </ol>

      </section>

      <section class="timeline">

        <div class="title-wrapper">
          <div class="icon-box">
            <ion-icon name="book-outline"></ion-icon>
          </div>

          <h3 class="h3">Experience</h3>
        </div>

        <ol class="timeline-list">

          <li class="timeline-item">

            <h4 class="h4 timeline-item-title">Get MAGIC mentoring program</h4>

            <span>01.2024-05.2023</span>

            <p class="timeline-text">
              Mentoring for my personal project-  data analysis in Python, creating and sourcing data of binary stars/pulsars using Lightkurve library for Python, focusing on Kepler 47 system
                  Creating a personal website
            </p>

          </li>

          <li class="timeline-item">

            <h4 class="h4 timeline-item-title">Quantum computing course with Google Quantum AI</h4>

            <span>09.2023-04.2024, Qubit by Qubit & The Coding School</span>

            <p class="timeline-text">
             Full scholarship for a two-semester quantum computing course,
                  Programming in Cirq
                  Fundamentals and Applications of Quantum Computing
                  Quantum algorithms and protocols, including implementing quantum key distribution (QKD) and Grover's algorithm, as well as running a Variational Quantum Eigensolver (VQE) to simulate a molecule
            </p>

          </li>

          <li class="timeline-item">

            <h4 class="h4 timeline-item-title">Game Dev Summer Immersion Program</h4>

            <span>07.2023-08.2023, Girls who Code</span>

            <p class="timeline-text">
              Led the successful development of four dynamic game projects using JavaScript, highlighting technical expertise and adaptability in a fast-paced learning environment.
                  Cultivated a collaborative and communicative team environment by actively engaging with fellow participants, contributing ideas, and collaboratively problem-solving to create captivating game mechanics that engaged players.
                  Advocated for diversity and inclusivity in the gaming industry by incorporating accessible design elements into each project, making the games enjoyable for a broader audience and promoting positive social impact through gaming.
            </p>

          </li>

            <li class="timeline-item">

            <h4 class="h4 timeline-item-title">Game Dev Summer Immersion Program</h4>

            <span>07.2023-08.2023, Girls who Code</span>

            <p class="timeline-text">
              Led the successful development of four dynamic game projects using JavaScript, highlighting technical expertise and adaptability in a fast-paced learning environment.
                  Cultivated a collaborative and communicative team environment by actively engaging with fellow participants, contributing ideas, and collaboratively problem-solving to create captivating game mechanics that engaged players.
                  Advocated for diversity and inclusivity in the gaming industry by incorporating accessible design elements into each project, making the games enjoyable for a broader audience and promoting positive social impact through gaming.
            </p>

          </li>

        </ol>

      </section>

      <section class="skill">

        <h3 class="h3 skills-title">My skills</h3>

        <ul class="skills-list content-card">

          <li class="skills-item">

            <div class="title-wrapper">
              <h5 class="h5">Web design</h5>
      
            </div>

            <div class="skill-progress-bg">
              <div class="skill-progress-fill" style="width: 80%;"></div>
            </div>

          </li>

          <li class="skills-item">

            <div class="title-wrapper">
              <h5 class="h5">Graphic design</h5>
              
            </div>

            <div class="skill-progress-bg">
              <div class="skill-progress-fill" style="width: 70%;"></div>
            </div>

          </li>

          <li class="skills-item">

            <div class="title-wrapper">
              <h5 class="h5">Branding</h5>
              <data value="90">90%</data>
            </div>

            <div class="skill-progress-bg">
              <div class="skill-progress-fill" style="width: 90%;"></div>
            </div>

          </li>

          <li class="skills-item">

            <div class="title-wrapper">
              <h5 class="h5">WordPress</h5>
              <data value="50">50%</data>
            </div>

            <div class="skill-progress-bg">
              <div class="skill-progress-fill" style="width: 50%;"></div>
            </div>

          </li>

        </ul>

      </section>
       </div>
 </section>

